@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

/*=== BASE STYLES ====*/
:root {
	--font-base: "Cormorant Upright", serif;
	--font-alt: "Open Sans", sans-serif;

	--color-golden: #dcca87;
	--color-black: #0c0c0c;
	--color-grey: #aaaaaa;
	--color-white: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-alt);
	color: var(--color-white);
}

a {
	color: unset;
	text-decoration: none;
}

.container {
	min-height: 100vh;
	padding: 4rem 6rem;
}

.pattern__bg {
	background: url("./assets/bgalt.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
}

.black__bg {
	background-color: var(--color-black);
}

.hero__bg {
	background: url("./assets/herobg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	padding: 1rem 6rem 4rem 6rem;
	height: 100vh;
}

.custom__btn {
	background-color: var(--color-golden);
	color: var(--color-black);
	font-family: var(--font-base);
	font-weight: 700;
	line-height: 28px;
	font-size: 20px;
	padding: 0.5rem 1.5rem;
	border-radius: 1px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.custom__btn:hover {
	background-color: #c4b377;
}

.custom__btn__alt {
	background-color: transparent;
	color: var(--color-golden);
	font-family: var(--font-base);
	font-weight: 700;
	line-height: 28px;
	font-size: 20px;
	padding: 0.45rem 1.5rem;
	border-radius: 1px;
	border: 1px solid var(--color-golden);
	outline: none;
	cursor: pointer;
}

.headtext__cormorant {
	font-family: var(--font-base);
	color: var(--color-golden);
	font-size: 64px;
	line-height: 83.2px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
}

.p__cormorant {
	font-family: var(--font-base);
	color: var(--color-white);
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	line-height: 29.9px;
	font-size: 23px;
}

.p__opensans {
	font-family: var(--font-alt);
	color: var(--color-white);
	font-weight: 400;
	letter-spacing: 0.04em;
	line-height: 28px;
	font-size: 16px;
}

/*=== image rotation ====*/
@keyframes rotate360 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.rotating__image {
	animation: rotate360 40s linear infinite;
}

@media screen and (max-width: 850px) {
	.container {
		padding: 4rem;
	}
}

@media screen and (max-width: 650px) {
	.container {
		padding: 4rem 2rem;
	}

	.p__cormorant {
		font-size: 21px;
	}

	.p__opensans {
		font-size: 14px;
	}
}

@media screen and (max-width: 450px) {
	.p__opensans {
		font-size: 12px;
	}

	.p__cormorant {
		font-size: 19px;
	}

	.headtext__cormorant {
		font-size: 45px;
		line-height: 70px;
	}
}


/* award section */



.awards{
	display: grid;
	justify-content: center;
	align-items: center;
	flex: space-between;
	width: 100%;
	grid-template-columns: repeat(2,1fr);
	gap: 1.5rem;
	

}
.awards-item {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	margin: 30px 0px;
	gap: 1rem;
}

.awards-item img{
	height: 100px;
}

.awards-item-content p{
	font-size: 17px;
	width: 100%;
	

}

.stars{
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 1rem;
	margin-left: 50%;
}
.stars img{
	width: 24px;
	height: 24px;

}

/* gallery section */

.title{
	text-align: right;
}

.image{
	display: flex;
	justify-content: center;
	gap: 15px;
}

.image img{
	width: 200px;
	height: 300px;
}

.gallery .custom__btn{
	width: 12%;
	margin-top: 20px;
	padding: 8px 28px;
	margin-left: 47px;
}

/* contact section */

.contact{
	display: flex;
	justify-content: space-between;

}

.contact-container .headtext__cormorant{
	margin-bottom: 17px;
}

.contact-container .p__cormorant{
	margin-top: 30px;
	margin-bottom: 13px;
	font-size: 39px;
	
}

.contact-container .custom__btn{
	margin-top: 30px;
	width: 50%;
	padding: 5px 10px;
}


.photo img{
	border: 7px solid rgb(250, 224, 76);
	border-radius: 50%;
	padding: 20px;
	margin-top: 7gi0px;
}
.contact-container .p__cormorant:first-child{
	font-size: 30px;
}
