@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

/*=== BASE STYLES ====*/
:root {
	--font-base: "Cormorant Upright", serif;
	--font-alt: "Open Sans", sans-serif;

	--color-golden: #dcca87;
	--color-black: #0c0c0c;
	--color-grey: #aaaaaa;
	--color-white: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-alt);
	color: var(--color-white);
}

a {
	color: unset;
	text-decoration: none;
}

.container {
	min-height: 100vh;
	padding: 4rem 6rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pattern__bg {
	background: url("./assets/bgalt.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
}

.black__bg {
	background-color: var(--color-black);
}

.hero__bg {
	background: url("./assets/herobg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	padding: 1rem 6rem 4rem 6rem;
	/* min-height: 100vh; */
}

.custom__btn {
	background-color: var(--color-golden);
	color: var(--color-black);
	font-family: var(--font-base);
	font-weight: 700;
	line-height: 28px;
	font-size: 20px;
	padding: 0.5rem 1.5rem;
	border-radius: 1px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.custom__btn:hover {
	background-color: #c4b377;
}

.custom__btn__alt {
	background-color: transparent;
	color: var(--color-golden);
	font-family: var(--font-base);
	font-weight: 700;
	line-height: 28px;
	font-size: 20px;
	padding: 0.45rem 1.5rem;
	border-radius: 1px;
	border: 1px solid var(--color-golden);
	outline: none;
	cursor: pointer;
}

.headtext__cormorant {
	font-family: var(--font-base);
	color: var(--color-golden);
	font-size: 64px;
	line-height: 83.2px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
}

.p__cormorant {
	font-family: var(--font-base);
	color: var(--color-white);
	font-weight: 700;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	line-height: 29.9px;
	font-size: 23px;
}

.p__opensans {
	font-family: var(--font-alt);
	color: var(--color-white);
	font-weight: 400;
	letter-spacing: 0.04em;
	line-height: 28px;
	font-size: 16px;
}

@media (max-width: 850px) {
	.hero__bg {
		padding: 1rem 4rem;
	}
}

@media (max-width: 650px) {
	.hero__bg {
		padding: 1rem 2rem;
	}
}

/*=== image rotation ====*/
@keyframes rotate360 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.rotating__image {
	animation: rotate360 40s linear infinite;
}

/*=== navbar ====*/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}

.nav-links a {
	transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
	color: var(--color-golden);
}

@media (max-width: 1150px) {
	.nav-links {
		display: none;
	}
}

/*=== hero section ====*/
.hero-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-info {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.hero-img {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 2rem;
	overflow: hidden;
}

.hero-header {
	color: var(--color-golden);
	text-transform: uppercase;
	font-family: var(--font-base);
	font-size: 5rem;
	line-height: 90px;
	letter-spacing: 0.04em;
	font-weight: 700;
	margin-top: 2rem;
}

.buttons {
	display: flex;
	gap: 2rem;
	align-items: center;
}

@media (max-width: 1150px) {
	.hero-content {
		flex-direction: column;
		gap: 2rem;
	}
}
@media (max-width: 1150px) {
	.hero-header {
		font-size: 4rem;
		line-height: 70px;
	}
}

.features-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 6rem;
	gap: 4rem;
}

.feature {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.feature-img {
	width: 110px;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 3px solid #333;
	padding: 5px;
}

.feature-img img {
	width: 60%;
	height: 60%;
}

.feature-info {
	flex: 1;
}

.feature-header {
	color: var(--color-golden);
	font-family: var(--font-base);
	letter-spacing: 0.02em;
	font-weight: 700;
}

.feature-text {
	color: var(--color-grey);
	font-family: var(--font-alt);
	letter-spacing: 0.04em;
	line-height: 24px;
}

@media (max-width: 1150px) {
	.features-container {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (max-width: 450px) {
	.feature-img {
		width: 90px;
		height: 90px;
	}
}

@media (max-width: 850px) {
	.features-container {
		padding: 4rem;
	}
}

@media (max-width: 650px) {
	.features-container {
		padding: 4rem 2rem;
	}
}

/*=== aboutus section ====*/
.aboutus-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutus-overlay {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutus-overlay img {
	width: 391px;
	height: 415px;
	z-index: 0;
}

.aboutus-content {
	z-index: 3;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutus-content-knife img {
	height: 690px;
}

.aboutus-content-knife {
	margin: 0.5rem 4rem;
}

.aboutus-content-about {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	text-align: right;
}

.aboutus-content-history {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
}

.aboutus-content-about p,
.aboutus-content-history p {
	margin: 2rem 0;
	color: var(--color-grey);
}

.aboutus-line {
	width: 50%;
	height: 15px;
	background-color: var(--color-golden);
}

@media screen and (max-width: 1100px) {
	.aboutus-content {
		flex-direction: column;
	}

	.aboutus-content_knife {
		margin: 4rem 0;
	}
}

@media screen and (max-width: 650px) {
	.aboutus-overlay img {
		width: 70%;
		height: 350px;
	}

	.aboutus-content_knife img {
		height: 610px;
	}
}

/*=== today's special section ====*/
.today-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.today-heading {
	text-align: center;
}

.today-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.5rem;
	margin-top: 4rem;
}

.today-content-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.today-content-item h2 {
	font-family: var(--font-base);
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.04em;
	font-weight: 700;
	margin: 2rem 0 0.5rem 0;
}

.today-content-item p {
	color: var(--color-grey);
	font-family: var(--font-alt);
	text-align: center;
	margin-bottom: 1rem;
}

.today-content-item img {
	width: 70%;
}

@media screen and (max-width: 1100px) {
	.today-content {
		flex-direction: column;
	}

	.today-content-item h2 {
		font-size: 35px;
		line-height: 40px;
	}
}

/*=== chef section ====*/
.chef-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chef-wrapper-info {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

.chef-wrapper-img {
	flex: 1;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin-right: 2rem;
}

.chef-wrapper-img img {
	width: 80%;
}

.chef-content {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
}

.chef-content p {
	color: var(--color-grey);
}

.chef-content-quote {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.chef-content-quote img {
	width: 67px;
	height: 60px;
	margin: 0 1rem 0.5rem 0;
}

.chef-sign img {
	width: 200px;
	margin: 1.5rem 0;
}

.chef-sign p:first-child {
	color: var(--color-golden);
	font-family: var(--font-base);
	font-size: 32px;
	line-height: 41.6px;
	letter-spacing: 0.04em;
	font-weight: 700;
}

@media (max-width: 1100px) {
	.chef-wrapper {
		flex-direction: column;
		align-items: flex-end;
		gap: 4rem;
	}

	.chef-wrapper-img {
		width: 90%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/*=== video section ====*/
.video-container {
	height: 100vh;
	position: relative;
}

.video-container video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.578);
	text-align: center;
}

.video-overlay p {
	margin-top: 2rem;
}

@media (max-width: 650px) {
	.video-container {
		height: 70vh;
	}

	.video-overlay h1 {
		font-size: 34px;
		line-height: 52px;
	}
}

/*=== baseeee ====*/

@media screen and (max-width: 850px) {
	.container {
		padding: 4rem;
	}
}

@media screen and (max-width: 650px) {
	.container {
		padding: 4rem 2rem;
	}

	.p__cormorant {
		font-size: 21px;
	}

	.p__opensans {
		font-size: 14px;
	}
}

@media screen and (max-width: 450px) {
	.p__opensans {
		font-size: 12px;
	}

	.p__cormorant {
		font-size: 19px;
	}

	.headtext__cormorant {
		font-size: 45px;
		line-height: 70px;
	}
}
